.eclipse-header {
  background-image: linear-gradient(-180deg, #FF3546 0%, #9F0445 97%);
  text-align: center;
  color: #fff;
}

.app-icon {
  width: 128px;
  border-radius: 21%;
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, .1);
}