.button {
	color: #fff;
	background-color: var(--eclipse-tint-color);
	padding: 8px 16px;
	border-radius: 6px;
	font-weight: 600;
	box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06)!important; 
}