@import './emulation.css';

/* 

General

*/
div, p, h1, h2, span {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* Remove stupid iOS/macOS bouncing */
body
/* #app  */{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	/* overflow: hidden; */
	padding: 0px;
	margin: 0px;
}

body {
	background-color: var(--f7-page-bg-color);
}

:root.ios {
	--f7-popup-tablet-border-radius: 9px;
}

.theme-light .page {
	--f7-page-bg-color: #fff;
}

/* 

	Statusbar

*/

div.statusbar {
	z-index: 100000000;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: var(--f7-safe-area-top);
}

:root:not(.theme-dark) div.statusbar {
	background-color: rgba(0, 0, 0, 0.22);
}

/* 

	Sidebar

*/

.panel-left:before {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 1px;
	background: rgba(144, 144, 144, 0.1);
	content: '';
	z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-in-breakpoint~.view .navbar .panel-open[data-panel="left"] {
	display: none;
}

html.with-panel-left-cover .panel-backdrop, 
html.with-panel-right-cover .panel-backdrop {
	background-color: var(--f7-searchbar-backdrop-bg-color);
}

/* Sidebar icons */

.sidebar-media {
	color: #fff;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 27.5px;
	border-radius: 5px;
}

.sidebar-media .icon {
	font-size: 20px;
}

.sidebar-media.sb-media-first {
	background-image: linear-gradient(180deg, #F5335A 0%, #F33359 100%);
}

.sidebar-media.sb-media-second {
	background-image: linear-gradient(180deg, #E93155 0%, #DC2F50 100%);
}

.sidebar-media.sb-media-third {
	background-image: linear-gradient(180deg, #DD2F50 0%, #D02C4C 100%);
}

.sidebar-media.sb-media-fourth {
	background-image: linear-gradient(180deg, #D02C4C 0%, #C42A47 100%);
}

.sidebar-media.sb-media-fifth {
	background-image: linear-gradient(180deg, #BA2843 0%, #B82842 98%);
}

.sidebar-media.sb-system-bg {
	background-color: rgba(144, 144, 144, .2);
}

@media (prefers-color-scheme: light) {
	.sidebar-media.sb-system-bg {
		color: #000;
	}
}


/* 

Game Card

*/

.game-card {
	background-color: transparent;
	/* pointer-events: none; */
}

.game-card .boxart {
	width: 100%;
	padding-top: 100%;
	border: solid 0.1px var(--f7-bars-border-color);
	border-radius: 5px;
	/* pointer-events: none; */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.game-card p {
	margin-block-start: 0em;
	margin-block-end: 0em;
	/* pointer-events: none; */
}

.game-card .name {
	margin-block-start: 4px;
}

.game-card .system {
	opacity: 0.5;
}