@import './emulation.css';

/* 

General

*/
div, p, h1, h2, span {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* Remove stupid iOS/macOS bouncing */
body {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	/* overflow: hidden; */
	padding: 0px;
	margin: 0px;
}

body {
	background-color: var(--f7-page-bg-color);
}

.popover .list+.list {
	margin-top: 0px;
}

.popover .list+.list ul::before {
	width: 0px;
}

:root.ios {
	--f7-popup-tablet-border-radius: 9px;
}

:root.aurora {
	--f7-popup-tablet-border-radius: 9px;
	--f7-page-transition-duration: 300ms;
}

.ios:not(.theme-dark),
.aurora:not(.theme-dark) {
	--f7-page-bg-color: #faf9f9;
}

:root.md.theme-dark {
	--f7-bars-bg-color: var(--f7-theme-color);
	--f7-bars-text-color: #fff;
	--f7-bars-link-color: #fff;
}

:root.md:not(.theme-dark) {
	--f7-bars-bg-color: var(--f7-theme-color);
	--f7-bars-text-color: #fff;
	--f7-bars-link-color: #fff;
	--f7-navbar-subtitle-text-color: rgba(255, 255, 255, 0.85);
	--f7-bars-border-color: transparent;
	--f7-tabbar-link-active-color: #fff;
	--f7-tabbar-link-inactive-color: rgba(255, 255, 255, 0.54);
	--f7-searchbar-bg-color: var(--f7-bars-bg-color);
	--f7-searchbar-input-bg-color: #fff;
	--f7-searchbar-input-text-color: #000;
	--f7-sheet-border-color: transparent;
	--f7-tabbar-link-active-border-color: #fff;
}

/* 

	Statusbar

*/

div.statusbar {
	z-index: 100000000;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: var(--f7-safe-area-top);
}

:root:not(.theme-dark) div.statusbar {
	background-color: rgba(0, 0, 0, 0.3);
}


/* 

	Navbar

*/

.navbar-large-transparent .subnavbar::after {
	background-color: rgba(var(--f7-bars-bg-color-rgb), var(--f7-navbar-large-collapse-progress));
}

/* 

	Sidebar

*/

.panel-left:before {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 1px;
	background: rgba(144, 144, 144, 0.1);
	content: '';
	z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-in-breakpoint~.view .navbar .panel-open[data-panel="left"] {
	display: none;
}

html.with-panel-left-cover .panel-backdrop, 
html.with-panel-right-cover .panel-backdrop {
	background-color: var(--f7-searchbar-backdrop-bg-color);
}

/* Sidebar icons */

.sidebar-media {
	color: #fff;
	height: 30px;
	width: 30px;
	text-align: center;
	border-radius: 5px;
}

:root:not(.aurora) .sidebar-media {
	line-height: 27.5px;
}

.sidebar-media .icon {
	font-size: 20px;
}

.aurora .sidebar-media .icon {
	margin-top: 5px;
	width: 20px;
	height: 20px;
}

.sidebar-media.sb-media-first {
	background-image: linear-gradient(180deg, #F5335A 0%, #F33359 100%);
}

.sidebar-media.sb-media-second {
	background-image: linear-gradient(180deg, #E93155 0%, #DC2F50 100%);
}

.sidebar-media.sb-media-third {
	background-image: linear-gradient(180deg, #DD2F50 0%, #D02C4C 100%);
}

.sidebar-media.sb-media-fourth {
	background-image: linear-gradient(180deg, #D02C4C 0%, #C42A47 100%);
}

.sidebar-media.sb-media-fifth {
	background-image: linear-gradient(180deg, #BA2843 0%, #B82842 98%);
}

.sidebar-media.sb-system-bg {
	background-color: rgba(144, 144, 144, .2);
}

@media (prefers-color-scheme: light) {
	.sidebar-media.sb-system-bg {
		color: #000;
	}
}


/* 

Game Card

*/

.game-card {
	background-color: transparent;
	/* pointer-events: none; */
	/* overflow: hidden; */
}

.game-card .boxart {
	width: 100%;
	padding-top: 100%;
	border: solid 0.1px var(--f7-bars-border-color);
	border-radius: 5px;
	/* pointer-events: none; */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.game-card p {
	margin-block-start: 0em;
	margin-block-end: 0em;
	word-wrap: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* pointer-events: none; */
}

.game-card .name {
	margin-block-start: 4px;
}

.game-card .system {
	opacity: 0.5;
}


/* 

	List

*/

.item-content .item-media img {
	width: 44px;
	border-radius: 100px;
}

.item-content .item-media img.social-icons {
	width: 35px;
	border-radius: 7px;
}

.game-item .item-content .item-media img {
	border-radius: 3px;
}

.list.inset li:last-child .item-inner::after {
	width: 0px;
}

/* 

	Featured Slider

*/

div.featured-items-slider {
	margin: 0;
	padding: 0 calc(16px + var(--f7-safe-area-left)) 16px;
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling:touch !important;
}

div.featured-items-slider a.item {
	background-color: red;
	display: inline-block;
	flex-wrap: nowrap;
	color: #fff !important;
	min-width: 288px;
	max-width: 288px;
	height: 161px;
	margin-right: 16px;
	border-radius: 9px;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow:inset 0 -100px 100px -100px rgba(0, 0, 0, .5);
}

div.featured-items-slider a.item h2 {
	position: relative;
	top: 100px;
	left:16px
}