/* user-select, if applied to text boxes incorrectly, will break all input boxes. */

canvas {
  border: none;
  background-color: black;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

.eclipse-header {
  background-color: #dc3545;
  text-align: center;
  color: #fff;
}

.card-footer-inner-text {
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  padding-top: 10px;
  font-weight: 500;
}

.app-icon {
  width: 128px;
  border-radius: 21%;
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, .1);
}

.panel {
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, .3);
}

.center {
  letter-spacing: 1px;
  color: #333;
  font-weight: bolder;
  text-transform: uppercase;
}

.content-block-title {
  color: #333;
  font-weight: bold;
  text-align: center;
}

.block-title {
  color: #333;
  font-weight: 500;
}

.boxart {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, .1);
}

.ios .item-divider:first-child {
  border-radius: 7px 7px 0 0;
}

.ios .item-divider::before {
  width: 0px;
}

.ios .item-divider {
  margin-top: -1px;
  padding: 4px 15px;
  color: #000;
  font-weight: 600;
  background-color: #f4f4f4;
}

.ios .page {
  background: #fff;
}

.ios .list ul {
  background-color: #fff;
}

.ios .list.inset {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
}

.md .list.inset {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
}

.ios .list.inset.cards-list {
  background-color: #fff !important;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .0) !important;
}

.md .list.inset.cards-list {
  background-color: #fff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .0) !important;
}

.md .card {
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, .0);
  /* background-color: rgba(0, 0, 0, 0.0); */
}

.ios .card {
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, .0);
  /* background-color: rgba(0, 0, 0, 0.0); */
}

.card-footer::before {
  width: 0px;
}

.md .card-footer {
  font-weight: bold;
  color: #333;
  font-size: 16px;
  padding: 0px;
  margin-top: -10px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ios .card-footer {
  font-weight: bold;
  color: #333;
  font-size: 16px;
  text-align: center;
  padding: 0px;
  margin-top: -10px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar {
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, .1);
}

.navbar-no-shadow {
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, .0);
}

.ios .navbar:after {
  width: 0px;
}

.modal-button {
  color: #ff3b30;
}

.modal-title {
  letter-spacing: 1px;
  color: #333;
  font-weight: bolder;
  text-transform: uppercase;
}

/* Emulation View */

.screen {
  width: 100%;
  height: calc(100% - 284px);
  background-color: black;
  position: absolute;
  text-align: center;
}

canvas {
  margin: auto;
  display: block;
  padding: 0px;
  background-color: #000;
  cursor: none;
}


.startselect {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 30px;
  text-align: center;
}

.startselect .btn-start {
  font-weight: bold;
  font-size: 12px;
  background-color: #eee;
  color:#444;
  display: inline-block;
  width: 75px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 100px;
  margin-right: 8px;
  text-transform: uppercase;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
  z-index: 1000;
}

.startselect .btn-select {
  font-weight: bold;
  font-size: 12px;
  color:#444;
  background-color: #eee;
  display: inline-block;
  width: 75px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 8px;
  border-radius: 100px;
  text-transform: uppercase;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
  z-index: 1000;
}

.btn-menu {
  position: fixed;
  bottom: 9px;
  font-weight: bold;
  font-size: 12px;
  color: #444 !important;
  text-align: center;
  left: 8px;
  padding-left: 8px;
  background-color: #eee;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 100px;
  text-transform: uppercase;
  padding-right: 8px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
  z-index: 1000;
}

#dpad {
  position: fixed;
  bottom:75px;
  width: 144px;
  height: 144px;
  left:8px;
}

#dpad .dpad-center {
  width: 48px;
  height: 48px;
  position: fixed;
  bottom:123px;
  left: 56px;
  background-color: #eee;
  z-index: 100;
}

#dpad .dpad-up {
  width: 48px;
  height: 48px;
  position: fixed;
  bottom:171px;
  left: 56px;
  background-color: #eee;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}

#dpad .dpad-down {
  width: 48px;
  height: 48px;
  position: fixed;
  bottom:75px;
  left: 56px;
  background-color: #eee;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}

#dpad .dpad-left {
  width: 48px;
  height: 48px;
  position: fixed;
  bottom:123px;
  left: 8px;
  background-color: #eee;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}

#dpad .dpad-right {
  width: 48px;
  height: 48px;
  position: fixed;
  bottom:123px;
  left: 104px;
  background-color: #eee;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}

.btn-l {
  position: fixed;
  top:calc(100% - 284px);
  left:0px;
  text-align: center;
  width: 60px;
  height: 30px;
  line-height: 30px;
  background-color: #eee;
  font-size: 14px;
  font-weight: bold;
  color: #444;
  border-radius: 0 0 15px 0;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}

.btn-r {
  position: fixed;
  top:calc(100% - 284px);
  right:0px;
  text-align: center;
  width: 60px;
  height: 30px;
  line-height: 30px;
  background-color: #eee;
  font-size: 14px;
  font-weight: bold;
  color: #444;
  border-radius: 0 0 0 15px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}

.btns {
  position: fixed;
  bottom:75px;
  width: 144px;
  height: 144px;
  right:8px;
}

.btns .btn-a {
  width: 55px;
  height: 55px;
  position: fixed;
  bottom:123px;
  right: 8px;
  background-color: #eee;
  line-height: 55px;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}

.btns .btn-b {
  width: 55px;
  height: 55px;
  position: fixed;
  bottom:75px;
  right: 56px;
  background-color: #eee;
  line-height: 55px;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}

.btns .btn-x {
  width: 55px;
  height: 55px;
  position: fixed;
  bottom:171px;
  right: 56px;
  background-color: #eee;
  line-height: 55px;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}

.btns .btn-y {
  width: 55px;
  height: 55px;
  position: fixed;
  bottom:123px;
  right: 104px;
  background-color: #eee;
  line-height: 55px;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}

.emulator-view {
  background-color: #dc3545;
}

.emulator-name {
  top: calc(100% - 284px);
  font-size: 19px;
  font-weight: bold;
  position: fixed;
  text-align: center;
  width: 100%;
  color: #bbb;
  background-color: #000;
}

.desktop-notice {
  display: none;
  position: absolute;
  bottom: 75px;
  text-align: center;
  left: 0px;
  right: 0px;
  color: #fff;
  padding: 16px;
}

.desktop-notice.desktop_mode {
  display: block;
}

. @media screen and (orientation: portrait) {
  canvas {
    margin: auto;
    display: block;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    cursor: none;
  }
  .screen {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
  }
}

@media screen and (orientation: landscape) {
  .desktop-notice {
    display: none;
  }
  .desktop-notice.desktop_mode {
    display: none;
  }
  canvas {
    margin: auto;
    display: block;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    cursor: none;
  }
  .screen {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    height: 100%;
  }
  div.controls {
    opacity: 0.5;
  }
  .btn-l {
    top: 0px;
  }
  .btn-r {
    top:0px;
  }
  .emulator-name {
    display: none;
  }
  body {
    height: 100vh;
  }
}

/* FW7 CSS */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/MaterialIcons-Regular.woff) format('woff'), url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Framework7Icons-Regular.eot");
  src: url("../fonts/Framework7Icons-Regular.woff2") format("woff2"), url("../fonts/Framework7Icons-Regular.woff") format("woff"), url("../fonts/Framework7Icons-Regular.ttf") format("truetype");
}

.f7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  text-align: center;
}

.demo-list-icon, .icon-f7 {
  background: #ccc;
  display: block;
  position: relative;
}

.theme-dark .demo-list-icon {
  background-color: #555;
}

.icon-f7 {
  background: url(../img/f7-icon.png) no-repeat center;
  background-size: cover;
}

.icon-vi {
  background: url(../img/vi-icon.png) no-repeat center;
  background-size: cover;
}

.ios .demo-list-icon, .ios .icon-f7, .ios .icon-vi {
  width: 29px;
  height: 29px;
  border-radius: 6px;
  box-sizing: border-box;
}

.md .demo-list-icon, .md .icon-f7, .md .icon-vi {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

/* Lazy Demo */

img.demo-lazy {
  display: block;
  width: 100%;
  height: auto;
}

div.demo-lazy {
  background: #aaa;
  -webkit-background-size: cover;
  background-size: cover;
  height: 300px;
  height: 60vw;
}

/* Tab Bar */

.ios .tabbar .tab-link:not(.tab-link-active) .icon-fill {
  display: none;
}

.ios .tabbar .tab-link.tab-link-active .icon:not(.icon-fill) {
  display: none;
}

/* FAB Morph */

.demo-fab-sheet {
  position: absolute;
  left: 16px;
  bottom: 80px;
  width: 140px;
  background: #fff;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 1600;
  margin: 0 !important;
}

.ios .demo-fab-sheet {
  bottom: 15px;
}

.md .demo-fab-sheet {
  bottom: 16px;
}

.demo-fab-fullscreen-sheet {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 64px;
  bottom: 0;
  background: #fff;
  z-index: 1600;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

@media (min-width: 768px) {
  .demo-fab-fullscreen-sheet {
    left: 20%;
    width: 60%;
    right: auto;
    height: 80%;
    top: auto;
  }
}

.demo-fab-fullscreen-sheet .page {
  background: #fff;
}

/* Demo Messagebar */

.ios a.demo-send-message-link i {
  font-size: 26px;
}

.ios .messagebar:not(.messagebar-with-value):not(.messagebar-attachments-visible) a.demo-send-message-link {
  pointer-events: none;
  color: #8e8e8e;
}

.md .messagebar:not(.messagebar-with-value):not(.messagebar-attachments-visible) a.demo-send-message-link {
  pointer-events: none;
  opacity: 0.5;
}

/* Grid demo */

.grid-demo div[class*="col"] {
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}

.theme-dark .grid-demo div[class*="col"] {
  background-color: #000;
  color: #fff;
  border-color: #444;
}

/* Cards Demo */

.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.demo-card-header-pic .card-content-padding .date {
  color: #8e8e93;
}

.demo-facebook-card .card-header {
  display: block;
  padding: 10px;
}

.demo-facebook-card .demo-facebook-avatar {
  float: left;
}

.demo-facebook-card .demo-facebook-name {
  margin-left: 44px;
  font-size: 14px;
  font-weight: 500;
}

.demo-facebook-card .demo-facebook-date {
  margin-left: 44px;
  font-size: 13px;
  color: #8e8e93;
}

.demo-facebook-card .card-footer {
  background: #fafafa;
}

.theme-dark .demo-facebook-card .card-footer {
  background-color: transparent;
}

.demo-facebook-card .card-footer a {
  color: #81848b;
  font-weight: 500;
}

.demo-facebook-card .card-content img {
  display: block;
}

.demo-facebook-card .card-content-padding {
  padding: 15px 10px;
}

.demo-facebook-card .card-content-padding .likes {
  color: #8e8e93;
}

/* Panels Demo */

.ios .panel-right.panel-active~.view-main:after, .ios .panel-right.panel-closing~.view-main:after {
  content: '';
  height: 100%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  background: #ddd;
  z-index: 1000;
}

.ios .theme-dark .panel-right.panel-active~.view-main:after, .ios .theme-dark .panel-right.panel-closing~.view-main:after {
  background: #282828;
}

.ios .panel-left:after {
  content: '';
  height: 100%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  background: #ddd;
  z-index: 1000;
}

.ios .theme-dark .panel-left:after {
  background: #282828;
}

/* Swipers Demo */

.demo-swiper {
  width: 100%;
  height: 100%;
}

.demo-swiper .swiper-slide, .demo-swiper-multiple .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #000;
}

.demo-swiper-multiple .swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
}

.demo-swiper-multiple {
  margin: 0px 0 35px;
  font-size: 18px;
  height: 120px;
}

.demo-swiper-multiple.demo-swiper-multiple-auto .swiper-slide {
  width: 85%;
}

.demo-swiper-multiple.demo-swiper-multiple-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}

.demo-swiper-multiple.demo-swiper-multiple-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}

.demo-swiper-custom {
  height: 100%;
}

.demo-swiper-custom .swiper-container {
  background: #000;
  height: 100%;
}

.demo-swiper-custom .swiper-slide {
  background-size: cover;
  background-position: center;
}

.demo-swiper-custom .swiper-pagination .swiper-pagination-bullet {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0);
  opacity: 1;
  border-radius: 0;
  transition: 200ms;
  position: relative;
  transform: scale(0.9);
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.demo-swiper-custom .swiper-pagination .swiper-pagination-bullet-active {
  z-index: 1;
  border: 1px solid #007aff;
  transform: scale(1.4);
}

.demo-swiper-cube {
  width: 80%;
  height: 70%;
  top: 15%;
}

.demo-swiper-coverflow {
  height: 60%;
  top: 20%;
}

.demo-swiper-coverflow .swiper-slide {
  width: 65%;
}

.demo-swiper-cube .swiper-slide, .demo-swiper-coverflow .swiper-slide {
  background-size: cover;
  color: #fff;
  -webkit-backface-visibility: hidden;
}

.demo-swiper-fade .swiper-slide {
  background-size: cover;
  background-position: center;
}

.demo-swiper-gallery-top {
  height: 70%;
}

.demo-swiper-gallery-thumbs {
  margin-top: 10px;
  height: 20%;
  height: -webkit-calc(30% - 20px);
  height: -moz-calc(30% - 20px);
  height: -ms-calc(30% - 20px);
  height: calc(30% - 20px);
}

.demo-swiper-gallery-thumbs .swiper-slide {
  width: 25%;
}

.demo-swiper-gallery-thumbs .swiper-slide-pic {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  transition: 300ms;
}

.demo-swiper-gallery-thumbs .swiper-slide-active .swiper-slide-pic {
  opacity: 1;
}

.demo-swiper-gallery-top .swiper-slide, .demo-swiper-gallery-thumbs .swiper-slide-pic {
  background-size: cover;
  background-position: center;
}

.demo-swiper-parallax {
  height: 100%;
}

.demo-swiper-parallax .swiper-parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.demo-swiper-parallax .swiper-slide {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
  color: #fff;
}

.demo-swiper-parallax .swiper-slide-title {
  font-size: 41px;
  font-weight: 300;
}

.demo-swiper-parallax .swiper-slide-subtitle {
  font-size: 21px;
}

.demo-swiper-parallax .swiper-slide-text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.demo-swiper-lazy {
  height: 100%;
}

.demo-swiper-lazy .swiper-slide {
  position: relative;
}

.demo-swiper-lazy .swiper-slide img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Icons Demo */

code {
  background: #f3f3f3;
  padding: 5px;
  font-size: 12px;
}

.theme-dark code {
  background: #000;
}

.demo-icon {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #333;
}

.theme-dark .demo-icon {
  color: #fff;
}

.demo-icon .demo-icon-name {
  margin-top: 5px;
  font-size: 11px;
  color: #666;
}

.theme-dark .demo-icon .demo-icon-name {
  color: #aaa;
}

.gradient {
  background-color: #dc3545;
  color: white !important;
}

.block-strong-alt {
  padding: 15px 15px !important;
  color: white !important;
  border-radius: 7px !important;
}

/* Weird glitch with swipe-to-delete: patch; */

a[style="transform: translate3d(-154px, 0px, 0px);"] {
  display: none !important;
}

@media only screen and (min-width:630px) {
  .onboarding {
    border-radius: 10px;
  }
}

.onboarding {
  overflow-y: scroll !important;
}

electronAccess {
  display: none !important;
}

#offlineModeNotice {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 500000;
  color: white;
  text-align: center;
  font-size: 24px;
}

#splashScreen {
  display: table;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #DC3545!important;
  z-index: 500000;
  color: white;
  text-align: center;
  font-size: 24px;
}

#verticalCenter {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#splashContent {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 300px;
  /*whatever width you want*/
}

#splashIcon {
  width: 200px;
}

.fadeOut {
  animation: fade 0.4s steps(90) forwards;
  -webkit-animation: fade 0.4s steps(90) forwards;
  -moz-animation: fade 0.4s steps(90) forwards;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.0;
  }
}

/* Fix odd status bar bug. */

#debugConsole {
  padding: 10px;
  color: white;
  background-color: #232323;
  font-family: "Menlo", "American Typewriter", "Times New Roman", serif;
  border-radius: 5px;
  height: 300px;
  overflow-y: scroll;
}

/* A bit of demo styles */

;
.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
}

.demo-swiper .swiper-slide {
  box-sizing: border-box;
  color: #fff;
  padding-bottom: 24px;
  min-height: 100%;
}

.demo-swiper {
  margin: 0px 0 35px;
  font-size: 18px;
  height: auto;
}

.white-button {
  border-radius: 100px !important;
  font-weight: bold !important;
  display: block !important;
  text-transform: uppercase !important;
}

.ios .searchbar.inline {
  background-color: #fff;
}

.ios .searchbar.inline::after {
  width: 0px;
}

.ios .navbar {
  height: 96px !important;
  background-color: #fff !important;
}

.ios .navbar .right {
  margin-top: -40px !important;
}

.ios .navbar .left {
  margin-top: -40px !important;
}

.ios .navbar .title {
  margin: 0 !important;
  margin-top: 40px !important;
  margin-left: -44px !important;
  text-align: left !important;
  width: 100% !important;
  font-size: 34px !important;
  color: #000000 !important;
  letter-spacing: 0.41px !important;
  line-height: 41px !important;
  padding: 0px !important;
  font-weight: 700 !important;
}

.ios .navbar~.page-content, .ios .navbar~:not(.no-navbar) .page-content {
  padding-top: 96px !important;
}

.ios .toolbar::before {
  width: 0px;
}

.ios .toolbar {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .3);
}

.ios .page-content.reduce-margin {
  margin-top: -96px;
}

.md .page-content.reduce-margin {
  margin-top: -56px !important;
}

.ios .navbar .title, .left+.title {
  margin-left: -54px !important;
}

.ios .navbar .title.push-left {
  margin-left: -44px !important;
}

.md .navbar .title {
  margin-left: 16px !important;
}

.current-skin {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
  max-height: 84px;
  padding: 10px !important;
  overflow: none;
  border-radius: 7px;
}

.toast.toast-bottom.modal-in {
  -webkit-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0);
  opacity: 1;
}

.toast.toast-bottom {
  bottom: 0;
  -webkit-transform: translate3d(0, 300%, 0);
  transform: translate3d(0, 300%, 0);
}

input[type="file"] {
  color: transparent;
}

input[type="file"]::-webkit-file-upload-button {
  margin: 5px;
  background: white;
  color: #f44336;
  border: 1px solid #f44336;
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  font-family: "Roboto";
  cursor: pointer;
}

.customClearBtn {
  background: lightgrey;
  border-radius: 50%;
  color: white;
  display: inline-block;
  padding: 2px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  text-align: center;
  vertical-align: top;
}

div.update-view {
  z-index: 99999;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

div.update-view img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 72px;
  height: 72px;
  margin-top: -37px;
  margin-left: -37px;
}

div.update-view div.progress-bar {
  position: relative;
  top: 50%;
  margin: 0px auto;
  margin-top: 85px;
  width: 200px;
  height: 5px;
  background-color: #aeaeae;
  border-radius: 5px;
}

div.update-view div.progress-bar div.inner-progress {
  height: 100%;
  width: 0%;
  background-color: #fff;
  -webkit-transition: width .5s linear;
  border-radius: 5px;
}

.ios .subnavbar {
  background-color: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.ios .subnavbar::after {
  width: 0px;
}

.ios .title.home {
  margin-left: -46px !important;
}

.game-card {
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}

.game-card-boxart {
  width: 100%;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 7px;
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, .3);
}

.swiper-pagination-bullets {
  display: none;
}

/* Status bar handler */

html.with-statusbar {
    width:auto;
    height:auto;
    top:0;
    left:0;
    right:0;
    bottom:-20px;
    position:absolute;
}

html.with-statusbar.device-ios .framework7-root, html.with-statusbar.ios:not(.device-ios):not(.device-android) .framework7-root {
    padding:0;
}

.with-statusbar .view {
    top:20px;
    left:0;
    right:0;
    bottom:0;
    position: absolute;
}

.with-statusbar #app {
    top: 0;
    left:0;
    right:0;
    bottom:0;
    position: absolute;
}

.statusbar-dark {
    background: #000000!important;
    background-color: #000000!important;
}

.statusbar {
    top:0;
    left:0;
    right:0;
    height:20px;
}

.ios .statusbar {
    background: #808080;
}
.md .statusbar {
    background: #f44336;
}

@media screen and (orientation:landscape) {
    .statusbar {
      height:0;
      display: none;
    }

    html.with-statusbar.device-ios .popup, html.with-statusbar.ios:not(.device-ios):not(.device-android) .popup {
      height:100%;
      top:0;
    }

    .with-statusbar #app {
		top:0!important;
    }
}
.frost {
  background: rgba(255,255,255,.7);
  -webkit-backdrop-filter:blur(5px);
  backdrop-filter:blur(5px);
}
.entry {
  border-radius: 7px;
  background-color: #333;
  background-size:cover!important;
  background-repeat:no-repeat!important;
  background-position: center;
  /*filter: blur(10px);*/

}
.subtitle {
  color: grey;
  font-size: 14px;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -5px;
}
.repoLabel {
  margin: 0px;
  width: 70%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .origin-ico {
    font-size:3vw;
  }
  .origin-parent {
    margin-top: -4vw;
  }
}
@media (max-width: 767px) {
  .origin-ico {
    font-size:5vw;
  }
  .origin-parent {
    margin-top: -7vw;
  }
}

.origin-parent {
  color:black;
  position:absolute;
  display:inline;
  margin-left:1vw;
  color:#f44336;
  opacity:0.9;
}

.restoreItem {
  width:29%;
  padding-left:2%;
  padding-right:2%;
  cursor:pointer;
  font-size: 20px;
}

.restoreItem>center>i {
  padding-bottom: 10px;
  font-size: 50px;
}

.button-list-red {
  background-color: #ff3b30;
  color:#fff !important;
  font-weight: bold;
}

#consoleToggle {
  background-color: #006fff;
  text-align: center;
  color: white;
  padding: 5px;
  position: fixed;
  z-index: 111349719471;
  margin-left: 40%;
  margin-left: 40%;
  width: 20%;
  margin-top: 30px;
  border-radius: 5px;
  display: none;
}

#execConsole {
  padding: 5px;
  width: 100%;
  background-color: white;
}

.console {
  background-color: #111111;
  font-family: Menlo, "Times New Roman", Times, serif;
  color: white!important;
  padding: 20px;
  boreder-radius: 0;
}

.welcomeGridWrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding-bottom: 0px;
}

.welcomeGridIcon {
  width: 75px;
  height: 75px;
  grid-column: 1;
}

.welcomeGridText {
  grid-column: 2 / 7;
  text-align: left;
}

.swipeout-actions-right > a {
    color: white!important;
}

/* I don't know why, but the bottom of these documents tend to be cut off. */
